.navbar {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  background-color: #383d46;
  box-shadow: 0 0 12px black;
  padding: 1rem;

  h1 {
    margin-right: 1.9rem;
  }

  select {
    border-radius: 2px;
    background-color: #58dad5;
    border: 0.2px solid black;
    padding: 1rem;
    &:hover {
      cursor: pointer;
    }

    option {
      background-color: #f7f7f7;
    }
  }
}
