.navbar {
  text-align: center;
  width: 100%;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.6rem;
    background-color: #58dad5;
    border-bottom: 1px solid #ddd;

    div {
      min-width: 69%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 600px) {
        width: 100%;
      }

      svg {
        fill: grey;
        width: 20px;
        height: 20px;
        margin: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  select {
    border-radius: 2px;
    background-color: #f3f4f6;
    border: 0.2px solid black;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }

    option {
      background-color: #f7f7f7;
    }
  }
}
