.coin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__infos {
    display: grid;
    grid-template-columns: 31.95% repeat(3, 15.4%) auto;
    width: 89.2%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .negative {
      color: #e15241;
    }
    .positive {
      color: #5ca64a;
    }

    figure {
      // width: 48%;
      display: flex;
      align-items: center;
      text-align: initial;
      img {
        margin-right: 10%;
      }

      p:first-of-type {
        font-weight: 700;
        color: black;
      }

      .coin__symbol {
        margin-left: 5%;
        color: #4a4a4a;
        font-size: 0.75rem;
        font-weight: 700;
        text-align: initial;
      }
    }

    &:not(figure > p) {
    }

    p {
      display: inline-block;
      text-align: center;
      margin: auto;
    }

    p:not(figure p:first-of-type, p:last-child) {
      // width: 19.5%;
    }

    .coin__marketCap {
      // width: 28.95%;
      position: relative;
      left: 1rem;
      text-align: initial;
    }
  }

  a {
    text-decoration: none;
  }

  &__link {
    border-radius: 4px;
    background-color: #58dad5;
    padding: 0.5rem 0;
    text-align: center;
    color: #4a4a4a;
    font-weight: 600;
    width: 9.5%;
    margin: 0.2rem 0.2rem 0.2rem 0;
    font-size: 0.8rem;
    margin: auto;

    &:hover {
      background-color: #51c8c4;
    }
  }
}

.coin__border {
  border-bottom: 1px solid #b9b1b1;
  margin: 5px 0 10px 0;
}
