$dark-back: #121212;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

img {
  width: 2.5rem;
}

html {
  @media (max-width: 37.5em) {
    font-size: 14px;
  }

  @media (max-width: 25em) {
    font-size: 12px;
  }
}

input {
  box-shadow: none;
  outline: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

.light {
  background-color: #ffff;
  color: black;
}

.dark {
  background-color: #121212;
  color: #ffff;
}
